.scale {
	padding: 1.6rem 0.2rem 0 0.2rem;
}

.chords {
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 52rem;
	vertical-align: middle;
}

.modeTitle {
	margin: 0;
	vertical-align: middle;
}

/* for spacing, so that the grid is centered */
.scale:after {
	content: '';
}

.modeTitle, .scale:after {
	display: inline-block;
	width: 10rem;
}
