.scale {
	padding: 1.1rem 0.2rem 0 0.2rem;
}

.chords {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	vertical-align: middle;
}

.modeTitle {
	display: inline-block;
	width: 12rem;
	margin: 0.5rem 0;
	vertical-align: middle;
}

@media only screen and (min-width: 1350px) {
	.chords {
		width: 52rem;
	}
}

@media only screen and (min-width: 1450px) {
	.modeTitle {
		width: 15rem;
		margin-left: 3rem;
	}
}
