.scale {
	padding: 1.6rem 0.2rem 0 0.2rem;
}

.modeTitle {
	margin: 0 0 0.5rem 0;
}

.chordButton {
	width: calc(100% / 3 - 6px);
	padding: 0.6rem;
	margin: 3px;
	font-weight: bold;
	font-size: 1rem;
	color: #000000b0;
}

@media only screen and (min-width: 360px) {
	.chordButton {
		width: calc(25% - 6px);
	}
}

@media only screen and (min-width: 800px) {
	.chordButton {
		width: calc(100% / 7 - 6px);
		max-width: 7rem;
	}
}

@media only screen and (min-width: 1200px) {
	/* for spacing, so that the grid is centered */
	.scale:after {
		content: '';
	}

	.modeTitle, .scale:after {
		display: inline-block;
		width: calc(200% / 11 - 6px);
		max-width: 14rem;
		margin: 0 3px;
	}

	.chordButton {
		width: calc(100% / 11 - 6px);
		max-width: 7rem;
	}
}

.major {
	border-color: #a72536;
	color: #a72536;
	background-color: #faeaec;
}

.major:hover {
	background-color: #fdf7f8;
}

.minor {
	border-color: #12784e;
	color: #12784e;
	background-color: #e9fcf4;
}

.minor:hover {
	background-color: #f6fefa;
}

.dominant {
	border-color: #972b80;
	color: #972b80;
	background-color: #f9ebf3;
}

.dominant:hover {
	background-color: #fdf7fa;
}

.diminished {
	border-color: #2f638e;
	color: #2f638e;
	background-color: #ecf3f9;
}

.diminished:hover {
	background-color: #f7fafc;
}

.augmented {
	border-color: #854b14;
	color: #854b14;
	background-color: #fcf2e9;
}

.augmented:hover {
	background-color: #f6fefa;
}
