.container {
    border: none;
    display: inline-block;
    margin: 0 0.1rem;
    padding: 0;
}

.select {
    margin-left: 0.2rem;
}

@media only screen and (min-width: 600px) {
    .container {
        margin-left: 0;
    }
}
