.toggle {
	width: 8rem;
	margin-top: 1rem;
}

.pill {
	height: 2.5rem;
	width: 50%;
	max-width: 11rem;
	display: inline-block;
	border-radius: 0;
}

.pill:first-of-type {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.pill:last-of-type {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.toggleOn {
	border-color: #0678c4;
	background-color: #f2f8fc;
	font-weight: bold;
	color: #0678c4; 
}

.toggleOn:hover {
	background-color: #f9fcfd;
}
