.chordControls {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #FAFAFA;
	padding: 0.8rem calc(50% - 11rem);
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

@media only screen and (min-width: 650px) {
	.chordControls {
		display: block;
		padding: 0.8rem 0;
	}
}

.selectInputGroup {
	border: none;
	display: inline-block;
	padding: 0;
}

.romanNumeral {
	font-family: 'Times New Roman', Times, serif;
}
