.chordControls {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #FAFAFA;
	padding: 0.8rem 0;
	z-index: 1;
	display: block;
	justify-content: space-between;
	max-width: 100%;
	overflow-x: auto;
}

.selectInputGroup {
	border: none;
	display: inline-block;
	padding: 0;
}

.romanNumeral {
	font-family: 'Times New Roman', Times, serif;
}
