.toggle {
	width: 8rem;
	margin-bottom: 0.3rem;
}

.toggleOn {
	border-color: #0678c4;
	background-color: #f2f8fc;
	font-weight: bold;
	color: #0678c4; 
}

.toggleOn:hover {
	background-color: #f9fcfd;
}
