.learnMore {
	color: #2f638e;
	text-decoration: underline;
	border: none;
	background-color: inherit;
	cursor: pointer;
	padding: 0.5rem;
	font-size: 1.2rem;
}

.modalBackground {
	z-index: 100;
	background-color: #0006;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
}

.modal {
	background-color: white;
	margin: auto;
	width: 90%;
	max-width: 60rem;
	border-radius: 1rem;
	max-height: 90%;
	display: flex;
	flex-direction: column;
}

.modalHeader, .modalBody {
	padding: 1rem;
}

.modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #bbb;
}

.modalBody {
	font-size: 1.2rem;
	text-align: left;
	max-height: 100%;
	flex-shrink: 1;
	min-height: 0;
	overflow-y: auto;
}

.modalTitle {
	margin: 0;
}

.keys {
	position: relative;
	height: 20rem;
}

.link {
	font-family: 'Times New Roman', Times, serif;
	position: absolute;
	width: 4rem;
	text-align: center;
	font-size: 2rem;
	color: #447;
}

.link:nth-child(1), .link:nth-child(7) {
	left: calc(50% - 2rem);
}

.link:nth-child(2), .link:nth-child(6) {
	left: calc(50% + 2rem);
}

.link:nth-child(3), .link:nth-child(5) {
	left: calc(50% + 4.93rem);
}

.link:nth-child(4) {
	left: calc(50% + 6rem);
}

.link:nth-child(8), .link:nth-child(12) {
	left: calc(50% - 6rem);
}

.link:nth-child(9), .link:nth-child(11) {
	left: calc(50% - 8.93rem);
}

.link:nth-child(10) {
	left: calc(50% - 10rem);
}

.link:nth-child(1) {
	top: 0;
}

.link:nth-child(2), .link:nth-child(12) {
	top: 1.07rem;
}

.link:nth-child(3), .link:nth-child(11) {
	top: 4rem;
}

.link:nth-child(4), .link:nth-child(10) {
	top: 8rem;
}

.link:nth-child(5), .link:nth-child(9) {
	top: 12rem;
}

.link:nth-child(6), .link:nth-child(8) {
	top: 14.93rem;
}

.link:nth-child(7) {
	top: 16rem;
}
