.chordButton small {
	display: block;
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
	opacity: 0.8;
}

.chordButton {
	width: calc(50% - 6px);
	padding-top: 0.2rem;
	margin: 3px;
	font-weight: bold;
	font-size: 1rem;
}

@media only screen and (min-width: 340px) {
	.chordButton {
		width: calc(100% / 3 - 6px);
	}

	.chordButton:nth-of-type(1) {
		margin-left: 4px;
	}
	.chordButton:nth-of-type(2) {
		margin-right: 4px;
	}
}

@media only screen and (min-width: 750px) {
	.chordButton {
		width: calc(25% - 6px);
	}

	.chordButton:nth-of-type(1) {
		margin-left: 3px;
	}
	.chordButton:nth-of-type(2) {
		margin-right: 3px;
	}
}

@media only screen and (min-width: 1100px) {
	.chordButton {
		width: calc(100% / 7 - 6px);
	}
}

.major {
	border-color: #a72536;
	color: #a72536;
	background-color: #faeaec;
}

.major:hover {
	background-color: #fdf7f8;
}

.minor {
	border-color: #12784e;
	color: #12784e;
	background-color: #e9fcf4;
}

.minor:hover {
	background-color: #f6fefa;
}

.dominant {
	border-color: #972b80;
	color: #972b80;
	background-color: #f9ebf3;
}

.dominant:hover {
	background-color: #fdf7fa;
}

.diminished {
	border-color: #2f638e;
	color: #2f638e;
	background-color: #ecf3f9;
}

.diminished:hover {
	background-color: #f7fafc;
}

.half-diminished {
	border-color: #2f638e;
	color: #2f638e;
	background-color: #ecf3f9;
}

.half-diminished:hover {
	background-color: #f7fafc;
}

.augmented {
	border-color: #854b14;
	color: #854b14;
	background-color: #fcf2e9;
}

.augmented:hover {
	background-color: #fefaf6;
}
