.enabled {
	border-color: #0678c4;
	background-color: #f2f8fc;
	font-weight: bold;
	color: #0678c4; 
}

.enabled:hover {
	background-color: #f9fcfd;
}

.toggle {
	width: 4rem;
	margin-right: 0.2rem;
}

@media only screen and (min-width: 600px) {
	.toggle {
		width: 9rem;
		margin-right: 1rem;
	}
}

.option {
	height: 2.5rem;
	width: 50%;
	max-width: 11rem;
	display: inline-block;
	border-radius: 0;
}

.option:first-of-type {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.option:last-of-type {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}
