html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

button, select {
	border-color: #cfd6e6;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3rem;
	height: 3rem;
	background-color: #fbfbfc;
	min-width: 4rem;
}

button {
	vertical-align: top;
}

select {
	text-align: center;
}

button:hover {
	background-color: #fff;
}

button::-moz-focus-inner {
	border: 0;
}

main {
	text-align: center;
}

.desktop {
	display: none;
}

@media only screen and (min-width: 810px) {
    .mobile {
		display: none;
	}

	.desktop {
		display: inline;
	}
}
